<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }} - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/boxicons/boxicons.min.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/x-icon">
</head>
<body class="grid-bg">
    <nav>
        <div class="logo-container">
            <img src="{{url_for('static', filename='images/logo-text.png')}}" alt="Logo">
        </div>
        <div class="links-container">
            <ul>
                <li>
                    <a href="{{url_for('index')}}">Blogs</a>
                </li>
                <li>
                    <a href="{{url_for('addBlog')}}">Add Blog</a>
                </li>
            </ul>
        </div>
        <!-- <div class="profile">
            <a href=""><i class="bx bx-user"></i></a>
        </div> -->
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Created & Crafted by <a href="https://yahiaelbanna.vercel.app/">Yahia Elbanna</a>
    </footer>
</body>
</html>