{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
  <h2 style="margin-bottom: 10px;">Welcome, {{user['name']}} 👋</h2>
  <p style="opacity: 0.8;">This is the unique content for the home page.</p>
  <div class="posts-container">
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <span class="date">{{post[4]}}</span>
                <h2>{{post[1]}}</h2>
                <p>
                    {{post[2][:150]}}
                </p>
                <a href="">Read more <i class='bx  bx-arrow-right-stroke'></i> </a>
            </div>
        {% endfor %}
    {%endif%}
  </div>
{% endblock %}